{{ with .Site.Params.copyright }}
<div class="copyright">
  &copy; {{ now.Format "2006"}} {{ . | safeHTML }}
  {{ with $.Site.Params.license }}
    <a href="{{$.Site.Params.licenseURL | safeHTML}}">{{ . | safeHTML }}</a>
  {{end}}
</div>
{{ end }}
{{ with .Site.Params.showBuiltWith }}
<div class="builtwith">
<i class="fas fa-hammer fa-lg" aria-hidden="true"></i>
<a href="https://gohugo.io">Hugo</a> and theme <a href="https://github.com/htr3n/hyde-hyde">hyde-hyde</a>.
</div>
{{ end }}
