.date-list {
    font-size: 0.75rem;
    color: #878787;
}

.tag-list {
    font-size: 0.75rem;
}

.posts > li {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

ul.posts {
    list-style: none;
    padding-left: 0px;
}
