{{ range . }}
<li>
    <a href="{{ .RelPermalink }}" {{if .Draft}}class="draft"{{end}}>{{ .Title }}</a>
    <br/>
  <!-- published date -->
  {{ if not .Date.IsZero }}
    <span class="date-list"><i class="fas fa-calendar-alt"></i> {{ .Date.Format (.Site.Params.dateformat | default "Jan 02, 2006") }}</span>
  {{ end }}
  <!-- categories -->
  {{ with .Params.categories }}
    {{ $total := len . }}
    {{ if gt $total 0 }}
        in
        {{ $total := sub $total 1 }}
        {{ range $i, $cat := sort . }}
            <a class="badge badge-category" href="{{ "/categories/" | relURL }}{{ $cat | urlize }}">{{ $cat | upper }}</a>
            {{ if lt $i $total }}•{{ end }}
        {{ end }}
    {{ end }}
  {{ end }}
  <!-- tags -->
  {{ with .Params.tags }}
    <span class="tag-list">
    {{ $total := len . }}
    {{ if gt $total 0 }}
        {{ $subtotal := sub $total 1 }}
        {{ range $i, $tag := . }}

        <a class="badge badge-tag-list" href="{{ "/tags/" | relURL }}{{ $tag | urlize }}"><i class="fas fa-tags"></i> {{ $tag | lower }}</a>
        {{ if lt $i $subtotal }} {{ end }}
    {{ end }}
    </span>
  {{ end }}
  {{ end }}

</li>
{{ end }}
